.reader {
  @apply border-l-4 max-w-4xl mx-auto text-center my-12;
  &.read {
    @apply border-green-200 bg-green-50;
  }
  &.edit {
    @apply border-red-700 bg-red-100;
  }
}

.menu {
  @apply fixed z-50 flex left-0 w-full h-10 items-center bg-white border-b border-black;
  &.top {
    @apply top-14;
  }
  &.bottom {
    @apply bottom-0;
  }
}
@keyframes pulse {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: red;
  }
  100% {
    border-color: transparent;
  }
}
.scene {
  @apply border shadow-md my-2 bg-white p-2;
  &.read {
    @apply border-green-200 bg-green-50;
  }
  &.edit {
    @apply animate-pulse;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background-color: var(--neutral-200);
  }
}
