.reader {
  @apply border-l-4 pt-24 max-w-4xl mx-auto text-center my-12 border-green-200 bg-green-50;
}

.menu {
  @apply fixed z-50 top-14 flex left-0 w-full h-10 items-center bg-white border-b border-black;
}
@keyframes pulse {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: red;
  }
  100% {
    border-color: transparent;
  }
}
.scene {
  @apply border shadow-md my-2 bg-white p-2;
  &.read {
    @apply border-green-200 bg-green-50;
  }
  &.edit {
    @apply animate-pulse;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background-color: var(--neutral-200);
  }
}

.insert {
  @apply cursor-pointer hover:bg-blue-200 p-0.5 w-full flex mx-auto justify-center items-center;
  &.read {
    @apply invisible;
  }
  &.edit {
    @apply visible;
  }
}

.textarea {
  @apply my-2 flex flex-col relative;
  &.edit {
    @apply shadow-md;
  }
}

.sidebar {
  @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg bg-gray-800 text-green-500 hover:bg-green-600 hover:text-white rounded-3xl hover:rounded-xl;
}
.tooltip {
  @apply absolute w-auto p-2 m-2 min-w-max top-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold origin-top;
}
