Flask==3.0.0
gunicorn==20.0.4

#Werkzeug==2.3.6
pathlib==1.0.1
pytest==8.3.4
Flask-Cors==4.0.0

Flask-SQLAlchemy==3.0.3
SQLAlchemy==2.0.18
Flask-WTF==1.2.1
Flask-JWT-Extended==4.5.3

numpy==1.26.0
pandas==2.1.4
Flask-Migrate==4.0.5
psycopg2-binary==2.9.6
python-dotenv==1.0.0

google-api-python-client==2.92.0
google-cloud-texttospeech==2.14.1
google-auth==2.21.0

Flask-APScheduler==1.13.1
boto3==1.36.26
PyMuPDF==1.26.3
pymupdf4llm==0.0.27
#docling==2.44.0
Markdown==3.8.2
locust==2.38.1