<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Flask User Management Example</title>

    <!-- Local CSS file for styling the application-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base_style.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/favicon.png') }}"
      type="image/x-icon"
    />

    <!-- Additional Styling -->
    {% block styling %} {% endblock %}
  </head>

  <body>
    hello
  </body>
</html>
